div#accusation-modal(class='modal fade' role='dialog')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                h4(class='modal-title') Make an Accusation
            div(class='modal-body')
                div(class='form-group')
                    label(for='suspect-select') Suspect
                    select#suspect-select(class='form-control')
                div(class='form-group')
                    label(for='room-select') Room
                    select#room-select(class='form-control')
                div(class='form-group')
                    label(for='weapon-select') Weapon
                    select#weapon-select(class='form-control')
            div(class='modal-footer')
                div(class='row text-center')
                    span(class='col-md-12 text-danger') This is your only accusation for the game, use it wisely.
                div(class='row')
                    div(class='col-md-6')
                        button#confirm-accuse(class='btn btn-danger pull-left') Accuse
                    div(class='col-md-6')
                        button(class='btn btn-secondary' data-dismiss='modal') Cancel