div(class='row')
    div(class='row text-center')
        h4 My Cards
        table#card-table(class='table card-table')
            thead
                tr
                  th(class='text-center') Suspects
                  th(class='text-center') Weapons
                  th(class='text-center') Rooms
            tbody
    div#extra-cards(class='row text-center')