div(class='row')
    div(class='row text-center')
        h4 My Cards
        table#card-table(class='table card-table')
            thead
                tr
                  th Suspects
                  th Weapons
                  th Rooms
            tbody