div#game-won-modal(class='modal fade' role='dialog')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                h4(class='modal-title text-success') Congratulations!
            div(class='modal-body')
                div#solution-winning-text(class='text-center')
                