div#game-lost-modal(class='modal fade' role='dialog')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                h4(class='modal-title text-danger') Game Over
            div(class='modal-body')
                div#solution-text(class='text-center')
            div(class='modal-footer')
                div(class='row text-center')
                    span(class='col-md-12') Stick around so you can continue to participate and disprove suggestions.
                div(class='row')
                    div(class='col-md-6')
                    div(class='col-md-6')
                        button#game-lost-close(class='btn btn-secondary' data-dismiss='modal') Close