table#legend(class='table table')
    thead
        th Legend
    tbody
    tr
        td(class='study bold') Study
        td(class='hall bold') Hall
        td(class='lounge bold') Lounge
    tr
        td(class='library bold') Library
        td(class='billiard bold') Billiard Room
        td(class='dining bold') Dining Room
    tr
        td(class='conservatory bold') Conservatory
        td(class='ballroom bold') Ballroom
        td(class='kitchen bold') Kitchen
    tr
        td(class='hallway bold') Hallway
        td(class='secret bold') Secret Passage
        td(class='empty bold') Empty