.navlist
  link(href='css-sprites.css', rel='stylesheet')
  ul
    li.missscarlet Miss Scarlet
    li.colmustard Col Mustard
    li.mrswhite Mrs. White
    li.mrgreen Mr. Green
    li.mrspeacock Mrs. Peacock
    li.profplum Prof. Plum
