div(class='row text-center')
    h4 Actions
    div(class='btn-group')
        button#end-turn(class='btn btn-primary') End Turn
        button#make-suggestion(class='btn btn-warning' data-toggle='modal' data-target='#suggestion-modal') Make Suggestion
        button#make-accusation(class='btn btn-danger' data-toggle='modal' data-target='#accusation-modal') Make Accusation
include ./accusation
include ./suggestion
