button(type='button' class='btn btn primary' data-toggle='modal' data-target='#welcome-modal') launch welcome

div#welcome-modal(class='modal fade' role='dialog')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                h4(class='modal-title') Welcome to Clueless!
            div(class='modal-body')
            div(class='modal-footer')
                button(class='btn btn-default' data-dismiss='modal') Close