extends layout

block content
  script(src='build/js/Clueless.js', type='text/javascript')
  div(class='row')
    div#board-container(class='col-md-9')
      include ./components/board
      div
        include ./components/legend
    div#message-container(class='col-md-3 container')
      include ./components/message
      include ./components/playerActions
      include ./components/cards
      include ./components/welcome
        