extends layout

block content
  div(class='row')
    div#board-container(class='col-md-9')
      div(class='jumbotron')
        p Game Board Goes Here
    div#message-container(class='col-md-3')
      ul#messages(class='list-unstyled')
        li sample update 1
        li sample update 2
      div(class='form-inline')
        div#form-container(class='form-group')
          input(autocomplete='off' class='form-control' style='margin-right: 5px')
        button(class='btn btn-primary') Send
  