doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/jquery.js', type='text/javascript')
    script(src='/vendor/bootstrap.js', type='text/javascript')
  body
    nav(class='navbar navbar-default navbar-fixed-top')
      div(class='container-fluid')
        div(class='navbar-header')
          p(class='navbar-brand') #{title}
  block content
