body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player-input-form {
  position: relative;
}

.activity-log {
  max-height: 425px;
  min-height: 425px;
}

.message-list {
  overflow: auto;
  height: 360px;
}

.clickable-td {
  
}

.empty {
  background-color: white;
}

.hallway {
  background-color: gray;
}

.study {
  background-color: brown;
}

.hall {
  background: yellow;
}

.lounge {
  background-color: blue;
  color: white;
}

.secret {
  background-color: red;
}

.library {
  background-color: blueviolet;
}

.billiard {
  background-color: green;
}

.dining {
  background-color: darkorange;
}

.conservatory {
  background-color: skyblue;
}

.ballroom {
  background-color: hotpink;
}

.kitchen {
  background-color: teal;
}

.board-row {
  height: 75px;
}

.board-column {
  max-width: 75px;
}

.bold {
  font-weight: bold;
}

.waiting-message {
  text-align: center;
  color: red;
}

.ready-message {
  text-align: center;
  color: green;
}
