body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player-input-form {
  bottom: 40px;
  position: absolute;
}

.activity-log {
  max-height: 450px;
  min-height: 450px;
}

.message-list {
  overflow: auto;
  height: 250px;
}

.empty {
  background-color: white;
}

.hallway {
  background-color: gray;
}

.study {
  background-color: brown;
}

.hall {
  background: yellow;
}

.lounge {
  background-color: blue;
}

.secret {
  background-color: red;
}

.library {
  background-color: blueviolet;
}

.billiard {
  background-color: green;
}

.dining {
  background-color: darkorange;
}

.conservatory {
  background-color: skyblue;
}

.ballroom {
  background-color: hotpink;
}

.kitchen {
  background-color: teal;
}

tr {
  height: 75px;
}

td {
  max-width: 75px;
}
