body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player-input-form {
  position: relative;
}

.activity-log {
  max-height: 425px;
  min-height: 425px;
}

.message-list {
  overflow: auto;
  height: 360px;
}

td.clickable-td {}

.hover-td {
  background-color: transparent !important;
}

.empty {
  background-color: lightgray;
}

.hallway {
  background-color: gray;
}

.study {
  background-color: brown;
}

.hall {
  background: sandybrown;
}

.lounge {
  background-color: deeppink;
}

.secret {
  background-color: black;
  color: white;
}

.library {
  background-color: blueviolet;
}

.billiard {
  background-color: limegreen;
}

.dining {
  background-color: darkorange;
}

.conservatory {
  background-color: skyblue;
}

.ballroom {
  background-color: saddlebrown;
}

.kitchen {
  background-color: teal;
}

.mustard {
  background-color: yellow;
}

.scarlet {
  background-color: red;
}

.white {
  background-color: whitesmoke;
}

.green {
  background-color: green;
}

.peacock {
  background-color: darkblue;
}

.plum {
  background-color: purple;
}

.board-row {
  height: 75px;
}

.board-column {
  max-width: 75px;
}

.bold {
  font-weight: bold;
}

.waiting-message {
  text-align: center;
  color: red;
}

.ready-message {
  text-align: center;
  color: green;
}

.card-table {
  margin-left: 10px;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}